PGSQL_DB_NAME=      # Name of main DB.
PGSQL_TEST_DB_NAME= # Name of testing DB.
PGSQL_USER_NAME=    # Name of DB user.
PGSQL_PASSWORD=     # Password for DB.
PGSQL_HOST=         # DB host (usually 127.0.0.1)
PGSQL_PORT=         # DB port (usually 5432)
UVICORN_HOST=       # Uvicorn host (usually 127.0.0.1)
UVICORN_PORT=       # Uvicorn port (usually 8000)
JWT_SECRET_KEY=     # Random large string used to create jwt.
